name: youtube_streams
description: "YouTube audio & video streams parser."
version: 1.0.1
repository: https://github.com/kirill-21/youtube_streams/

topics:
  - youtube
  - parser
  - steams

environment:
  sdk: ^3.5.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

# This package supports all platforms listed below.
platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows: